<main class="min-h-screen bg-gray-50">
  <.flash_group flash={@flash} />
  <div class="flex justify-center pt-8 pb-2">
    <a href={~p"/"}><img src={~p"/images/wolf-head.png"} alt="Jagua" class="w-20 h-20" /></a>
  </div>
  {@inner_content}
</main>
